<ion-view title="Add New Category" id="page6">
    <ion-content padding="false" class="has-header">
        <div id="addNewCategory-button-bar8" class=" button-bar ">
            <a ui-sref="menu.categories" id="addNewCategory-button28" class=" button button-stable  button-block ">Cancel</a>
            <a ui-sref="menu.categories" id="addNewCategory-button29" class=" button button-positive  button-block " ng-click="SaveNewItem(category_name)">Save</a>
        </div>
        <ion-list id="addNewCategory-form2" class="list ">
            <label class="item item-input " id="addNewCategory-input8">
                <input type="text" placeholder="Category Name" ng-model="category_name">
            </label>

        </ion-list>

    </ion-content>
</ion-view>
