<ion-view title="Categories" id="page4">
    <ion-content padding="false" class="has-header">
        <a ui-sref="menu.addNewCategory" id="categories-button26" class=" button button-positive  button-block ">Add New Category</a>
        <ion-list id="categories-list2">

          <ion-item class="item-icon-left  " ng-repeat="item in categories" ng-click="CategorySelected(item.id)">
            <i class="icon ion-ionic"></i>{{item.name}}
          </ion-item>

            <!--<ion-item class="item-icon-left  " id="categories-list-item6" ng-click="CategorySelected(2)">-->
                <!--<i class="icon ion-ionic"></i>Transport</ion-item>-->
            <!--<ion-item class="item-icon-left  " id="categories-list-item7">-->
                <!--<i class="icon ion-ionic"></i>Food and Drink</ion-item>-->
            <!--<ion-item class="item-icon-left  " id="categories-list-item8">-->
                <!--<i class="icon ion-ionic"></i>Household</ion-item>-->
            <!--<ion-item class="item-icon-left  " id="categories-list-item9">-->
                <!--<i class="icon ion-ionic"></i>Shopping</ion-item>-->
            <!--<ion-item class="item-icon-left  " id="categories-list-item10">-->
                <!--<i class="icon ion-ionic"></i>Car</ion-item>-->
            <!--<ion-item class="item-icon-left  " id="categories-list-item11">-->
                <!--<i class="icon ion-ionic"></i>Telephone</ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>
